#name {
  -webkit-animation-delay: 0.5s;
  position: relative;
  top: 40%;
  color: white;
  font-size: 50px;
}

#line {
  color: white;
  font-size: 50px;
  position: relative;
  top: 40%;
}

#sub-heading{
  color: white;
  font-size: 25px;
  position: relative;
  top: 40%;
}

.mainName {
  background-image: url('https://i.ytimg.com/vi/Rg_hwcZ34pA/maxresdefault.jpg');
  background-repeat: no-repeat;
  height: 500px;
}

.credentials {
  padding-top: 10%;
  margin: auto;
}

#myPicture {
    border-radius: 50%;
}

.about {
    padding-top: 10%;
    text-align: left;
    margin: auto;
    font-size: 20px;
    width: 45%;
}

#aboutHeading {
    color: #74767a;
    font-size: 15px;
}

.projects {
    padding-top: 10%;
}

.projectDescription {
    padding-top: 3%;
    text-align: left;
    margin: auto;
    font-size: 20px;
    width: 50%;
}

.projectImage {
    padding-top: 3%;
    display: block;
    margin: auto;
}
